* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Gotham";
}
body {
  background-color: #3f4045;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  /* border: 2px solid white; */
  height: auto;
  width: auto;
}
.container .h1 {
  font-weight: bold;
}
.game {
  height: 60vmin;
  width: 60vmin;
  /* border: 2px solid aliceblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.game .box {
  /* all: unset; */
  height: 19vmin;
  width: 19vmin;
  /* border: 2px solid red; */
  background-color: #355691;
  /* background-color: white; */
}
.reset-button {
  font-size: 1.8vmin;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  margin-top: 20px;
  background-color: #30292f;
  color: White;
  width: 12vmin;
  height: 5vmin;
}
.result {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  margin-top: 20px;

  color: White;
  width: 30vmin;
  height: 5vmin;
}
@media screen and (max-width: 535px) {
  .game {
    width: 80vmin;
    height: 80vmin;
  }
  .box {
    height: 26vmin;
    width: 26vmin;
  }
  .reset-button {
    height: 10vmin;
    width: 15vmin;
    font-size: 3vmin;
  }
}
